#date_added{
	clear:left;
}

#photo-edit{
    position:relative;
	margin:50px 40px 0 0;
    left:40px; top:50px;
}

#photo-edit #edit-employees-options a {
    color:white;
}

.form-options{
	clear:left !important;
}

/* punch table styles */
#header-createdAt, .date_punched {
	width:100px;
}
#header-time, .time {
	width:100px;
}
#header-patron, .customer {
	width:200px;
}
#header-punches, .punches {
	width:110px;
}

#load-row a { font-weight: bold; cursor: pointer; }
