#id_subject {
	width: 656px;
}

#id_body {
	width: 656px;
	height: 200px;
}

#id_send_to {
	float: left;
}

a.breadcrumb {
	display: block;
	font: normal 11px 'Cabin', sans-serif;
	text-decoration: none;
	margin-bottom: 20px;
}
div.white-box {
	padding: 0px;
}
div.white-box.response {
	background-color: #EFFCFF;
}
div.white-box div.sect {
	border-bottom: 1px dotted #CCCCCC;
	padding: 5px 10px;
	clear: left;
}
div.white-box div.sect.yellow {
	background-color: #FFFFCC;
}
div.white-box div.sect label {
	float: left;
	margin: 0px;
	display: block;
	font: normal 13px/24px 'Cabin', sans-serif;
	margin-right: 5px;
}
div.white-box div.sect span {
	font: bold 12px/24px 'Cabin', sans-serif;
	display: block;
	float: left;
	margin-right: 10px;
	color: #666;
}
div.white-box div.sect.meta {
}
div.white-box div.sect.subject {
}
div.white-box div.sect.body {
    white-space: pre-wrap;
    word-wrap: break-word;
	border-bottom: 0px;
	font-size: 12px;
	padding: 16px 20px 16px 10px;
	color: #666;
}
div.divider { clear: left; height: 10px; }
