*{
	font-family:Verdana, sans-serif;
}

body{
	margin:0;
	background: #CCC url('../images/bkg_body.png') repeat top left;
}

h2{
	margin:0;
	color:#0965ad;
	font: normal 24px 'Cabin', sans-serif;
}

img{
	border:0;
}

p{ margin: 6px 0; }

label{
	display:block;
	font: bold 14px 'Cabin', sans-serif;
	color:#666;
	margin: 15px 0 10px;
}

input{
	height:28px;
	border:1px solid #CCC;
	border-radius: 4px;
	padding: 0 6px;
	font-size:14px;
	color:#666;
}

textarea{
	width:386px;
	height:81px;
	border:1px solid #CCC;
	border-radius:4px;
	font-size:14px;
	color:#666;
	padding:6px;
	resize:vertical;
}

ul.errorlist { margin: 10px 0px 0px 0px; padding: 0px;  list-style: none; }
ul.errorlist li { margin: 0px; padding: 0px; color: red; font-size: 12px; position: relative; top: 15px; }

div.notification div ul.errorlist { margin: 0px; }
div.notification div ul.errorlist li {
	color:#666;
	font-size:14px;
	top: 0px; 
}

div.notification div{
	background-color: #FFFFCB;
	border:1px solid #F9B64D;
	font: bold 14px 'Cabin', sans-serif;
	padding: 15px;
	color:#666;
	margin-bottom:30px;
}

div.notification.success div {
	color: #666666;
	background-color: #DEFFCB;
	border:1px solid #669900;
}

.bold{ font-weight:bold; }

.input-container{ 
	float:left; 
	margin-right:15px;
}

.input-container.info span {
	font-size: 14px;
	font-weight: normal;
	color: #666;
}

a.button{
	display:block;
	height:38px;
	text-decoration:none;
	color:white;
	line-height:38px;
	float:left;
	font-size:12px;
	font-weight:bold;
	padding:0 30px;
	cursor: pointer;
	font: bold 14px/38px 'Cabin', sans-serif;
}

a.button.blue{
	background: #0965ad;
	border:1px solid #163C61;
	border-width:1px 1px 2px 1px;
}

a.button.blue:hover {
    background-image: -ms-linear-gradient(top, #3665FF 0%, #0965AD 100%);
    background-image: -moz-linear-gradient(top, #3665FF 0%, #0965AD 100%);
    background-image: -o-linear-gradient(top, #3665FF 0%, #0965AD 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3665FF), color-stop(1, #0965AD));
    background-image: -webkit-linear-gradient(top, #3665FF 0%, #0965AD 100%);
    background-image: linear-gradient(to bottom, #3665FF 0%, #0965AD 100%);
}

a.button.gray{
	background: transparent url('../images/bkg_button-gray.png') repeat-x top left;
	border:1px solid #666;
	border-width:1px 1px 2px 1px;
}

a.red{
	font: 14px 'Cabin', sans-serif;
	color:#900;
	text-decoration:none;
}

div.clear{
	clear:both;
	height:0px;
}

.clearheight{
	clear:both;
}

div#site-frame{
	width:960px; 
	margin:0 auto;
	box-shadow: 0 0 5px 3px #BBB;
}

div#header{
    position:absolute; width:945px;
	height:70px;
	line-height:70px;
	padding-left:15px;
	border-bottom:1px solid #CCC;
	
    background-image: -ms-linear-gradient(bottom, #F1F1F1 0%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(bottom, #F1F1F1 0%, #FFFFFF 100%);
    background-image: -o-linear-gradient(bottom, #F1F1F1 0%, #FFFFFF 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #F1F1F1), color-stop(1, #FFFFFF));
    background-image: -webkit-linear-gradient(bottom, #F1F1F1 0%, #FFFFFF 100%);
    background-image: linear-gradient(to top, #F1F1F1 0%, #FFFFFF 100%);
}

div#header a {
	text-decoration:none;
}

a#header-left {
	float:left;
}

img#logo-header {
	vertical-align:middle;
}

div#header-right {
	float:right;
	/* This is required so that children with absolute positioning
	   can use left, right, top, and bottom properties relative to the
	   parent and not the window itself! */
	position:relative; 
	z-index: 10;
}

div#header-right > a {
    height: 100%;
	color:#888;
    display: inline-block;
    float:right;
	padding: 0 15px;
}

div#header-right:hover > a {
	color:#666;
}

div#header-right:hover {
    background-image: -ms-linear-gradient(bottom, #E1E1E1 0%, #EEEEEE 100%);
    background-image: -moz-linear-gradient(bottom, #E1E1E1 0%, #EEEEEE 100%);
    background-image: -o-linear-gradient(bottom, #E1E1E1 0%, #EEEEEE 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #E1E1E1), color-stop(1, #EEEEEE));
    background-image: -webkit-linear-gradient(bottom, #E1E1E1 0%, #EEEEEE 100%);
    background-image: linear-gradient(to top, #E1E1E1 0%, #EEEEEE 100%);
}

div#header-right > ul {
    list-style: none;
    border: 1px solid #CCC; border-top: none; border-right: none;
	background:white;
    width: 194px; 
    position:absolute; 
    margin-top: 70px; padding: 0px;
    display:none;
    right:0px;
}

div#header-right:hover > ul {
    display: block;
}

div#header-right > ul > a > li {
    width: 164px; /* this + padding must = width of header-right ul */
    margin:0px; padding: 0px;
	font: normal 16px/44px 'Cabin', sans-serif;
	padding-left: 30px;
    text-align: left;
    color:#666;
}

div#header-right > ul > a > li:hover {
    color:#0965ad;
    background: #f1f1f1;
}

img.avatar-small{
	vertical-align:middle;
	border-radius: 5px;
	width:35px; height: 35px;
}

img.avatar-medium{
	border-radius: 16px;
	width:40px;
	vertical-align:middle;
}

img.avatar-big{
	border-radius: 18px;
}

span#account-name{
	font: bold 15px/32px 'Cabin', sans-serif;
	margin:0 2px 0 4px;
	vertical-align:middle;
}

div#content-frame{
    position: relative; top: 71px; /* height of the header, which is absolute positioned. */
	background: #666 url('../images/bkg_sidebar.png') repeat top left;
}

div#nav{
	float:left;
	width: 240px;
}

div.nav-item{
	height:70px;
	line-height:70px;
	border-top:1px solid #666;
	border-bottom: 1px solid #454545;
}

div.nav-item.active{
	background: #2A66A4 url('../images/bkg_sidebar-active.png') repeat-y top left;
}

div.nav-item a{
	color:white;
	padding:0 15px;
	display:block;
	text-decoration:none;
}

div.nav-item a span{
    color: #efefef;
	font: normal 16px 'Cabin', sans-serif;
}

div.nav-item.active a span{
    color: #fff;
}

div.nav-item a img{
    margin-right:10px;
    margin-left:2px;
}

div.nav-item a:hover{
	background-color:#555;
}

div.nav-item img{
	vertical-align:middle;
	margin-right:4px;
}

div.nav-item-badge{
	float:right;
	width:30px;
	height:30px;
	background:transparent url('../images/icon_badge.png') no-repeat top left;
	line-height:30px;
	margin:20px 0;
	text-align:center;
}

div#main-content{
	background: white url('../images/bkg_content.png') repeat top left;
	min-height:404px;
	padding: 25px 25px 75px;
	float:left;
	width:670px;
}

div.section{
	margin:35px 0 0 0;
	float:left;
	width:100%;
}

div.section.first { margin-top: 0px; }

div.section-title{
	font: bold 16px 'Cabin', sans-serif;
	color:#666;
	margin-bottom:10px;
}

div.white-box{
	padding:15px;
	background: white;
	border:1px solid #CCC;
	border-radius:4px;
}

div.form-options{
	margin-top:20px;
	float:left;
	clear:both;
}

div.form-options img{
    display:none;position:relative;top:5px;left:16px;
}

div.form-options a.red{
	margin:14px 10px 0;
	display:block;
	float:left;
}

div#photo-edit{
	float:right;
	text-align:center;
}

div#photo-edit .white-box{
	margin-bottom:6px;
}

div#photo-edit a{
	text-decoration:none;
	font-size:11px;
	color:#666;
}

div.white-box.table{
	float:left;
	width:668px;
	padding:0;
}

.table-header{
	color:#666;
	border-bottom:1px dotted #CCC;
	font-size:12px;
	float:left;
	width:648px;
	padding:0 10px;
	height:28px;
	line-height:28px;
}

.th{
	font: normal 14px/32px 'Cabin', sans-serif;
	float:left;
	padding-right:10px;
	cursor:pointer;
}
.th.not-sortable {
	cursor: default;
}
.th img{ display:none; vertical-align:middle; }


.th.sorted{
	font-weight:bold;
}

.th.sorted.asc img.asc{ display:inline; }
.th.sorted.desc img.desc{ display:inline; }

.tr{
	clear:both;
	float:left;
	width:648px;
	padding:0 10px;
	height:28px;
	line-height:28px;
	font-size:13px;
	color:#666;
}

.tr a{
	height:28px;
	color:#666;
}

.tr.odd{
	background-color:#F0F8FB;
}

.tr.last{
	border-radius:0 0 4px 4px;
}

.td{
	float:left;
	padding-right:10px;
}

.tab{
	width:144px;
	height: 30px;
	font: bold 15px/30px 'Cabin', sans-serif;
	text-align:center;
	border-radius: 4px 4px 0 0;
	background-color:white;
	float:left;
	border:1px solid #CCC;
	border-width:1px 1px 0;
	color:#666;
	margin-left:8px;
	box-shadow:inset 0 -5px 5px -5px #999;
	cursor:pointer;
}

.tab.active{
	color:white;
	background-color:#FE9900;
}

.tab-body{
	display:none;
}

.tab-body.active{
	display:block;
}

div#footer{
	clear:both;
	text-align:center;
	margin:20px 0 80px;
}

#ui-datepicker-div { font-size:11px; }


