
/** login dialog styles for dedicated login page **/

#dialog-login form {
    padding:10px;
    padding-top:2px;
}


.input-text-error {
    outline: none;
    border-color: #dd4b39;
    box-shadow: 0 0 10px #dd4b39;
}

.ui-widget-header.ui-dialog-titlebar {
	background: url("../images/bkg_header.png") repeat-x scroll left bottom white;
    border-bottom: 1px solid #CCCCCC;
    height: 25px;
    line-height: 25px;
    padding: 0 15px;
}

#dialog-login-form p{ margin: 0px 0px 10px 0px; }

#dialog-login-form label{
	display:block;
	font: bold 14px 'Cabin', sans-serif;
	color:#666;
	margin: 15px 0 10px;
}

#dialog-login-form input{
	height:28px; width:284px;
	border:1px solid #CCC;
	border-radius: 4px;
	padding: 0 6px;
	font-size:14px;
	color:#666;
}

#dialog-login-form input[type=submit].active,
#dialog-login-form input[type=submit].disabled {
    position:relative; top:10px;
    width:80px;
    font-weight:bold;
    background-color: #4c8ffb; color: white;
    border:1px solid #3079ed;
}

#dialog-login-form input[type=submit].active:hover{
    background-color: #427edd;
}

#dialog-login-form input[type=submit].disabled {
    background-color: #ccc; color: white;
    border:1px solid #bbb;
}

#dialog-login-form input[type=submit].disabled:hover{
    background-color: #ccc;
}

#stay-signed-in input[type=checkbox]{
    width:14px; height:14px;
}

#stay-signed-in {
    display:inline-block;
    position:relative; top:13px; left:20px;
}

#stay-signed-in label{
    position:relative; top:-2px;
    color:gray;
    font-size:0.8em;
	display:inline;
	font-weight:normal;
}

#forgot-pass-form-div input {
	height:22px; width:200px;
	border:1px solid #CCC;
	border-radius: 4px;
	padding: 0 6px;
	font-size:14px;
	color:#666;
    margin-right:2px;
}

#forgot-pass-form a {
    color:#0040FF;
    cursor:pointer;
    font-size:0.9em;
    text-decoration:none;
}

#forgot-pass-form a:hover {
    text-decoration:underline;
}

#forgot-pass-form-div {
    margin-top:12px;
}

#forgot-pass-form-div input[type=submit] {
    width:70px;
}

#forgot-pass-form-div input[type=submit]:hover{
    background-color: #ccc;
}

#logging-in {
    display:none;
    position:relative;top:20px;left:40px;
}

#forgot-pass-form {
    margin-top:28px;
}

#dialog-login-message span, #forgot-pass-form a span{
    color:#dd4b39;
}

#dialog-login-message {
    font-size:0.9em;
}



