.tr.draft, .tr.unread{
	font-weight:bold;
}

#header-date, #header-feedback-date, .feedback-date, .date{
	width:120px;
}

#header-feedback-subject, .feedback-subject {
	width:320px; 
}
#header-subject, .subject {
	width:470px; 
}

#header-feedback-from, .feedback-from {
	width:160px; 
}
