.tr.draft, .tr.unread{
	font-weight:bold;
}

#header-date, #header-feedback-date, .feedback-date, .date{
	width:120px;
}

#header-subject, .subject, #header-feedback-subject, .feedback-subject {
	width:250px;
}

#header-status, .status, #header-feedback-status, .feedback-status {
	width:80px;
}

#header-from, .from, #header-feedback-from, .feedback-from {
	width:160px;
}

#pag-container {
    clear:both;
    position:relative;top:8px;
    font:0.9em sans-serif;
    text-align:center;
}

.pag-unit {
    display:inline-block;
    cursor:pointer;
    background:white; 
    margin:6px 12px;
    padding:0px 4px;
    border:1px solid #cccccc;
}

.pag-unit.active {
    background:#fe9900; color:white;
}
