
#pag-container {
    clear:both;
    position:relative;top:8px;
    font:0.9em sans-serif;
    text-align:center;
}

.pag-unit {
    display:inline-block;
    cursor:pointer;
    color:#666666;
    background:white; 
    margin:6px 12px;
    padding:0px 4px;
    border:1px solid #cccccc;
}

.pag-unit.active {
    background:#fe9900; color:white;
}
