h2{
	margin-bottom:6px;
}

input#id_store_name{
	width: 398px;
}

div#street-container{
	clear:left;
}

input#id_street{
	width:348px;
}

input#id_state{
	width: 100px;
}

input#id_zip{
	width:100px;
}

input#id_email{
	width:248px;
}

select#id_country{
	margin-top:4px;
}

label#label_store_description{
	float:left;
}

label#character_limit{
	float:right;
	font-weight:normal;
	font-size:10px;
	font-style:italic;
	margin-top:20px;
}

textarea#id_store_description{
	clear:both;
	float:left;
}

div#notification { }


/* hours form style */
.hours-form {
    width: 690px; 
}

div.hours-form ul { 
	height: 30px; 
	list-style: none; 
	margin: 0px 0px 5px 0px; 
	padding: 0px;
	clear: left;
}
div.hours-form ul li { 
	float: left; 
	display: block; 
	height: 30px; 
	line-height: 30px;
	margin: 0px;
	padding: 0px;
}
div.hours-form span {
    display: inline-block;
    text-align: center;
	font: bold 14px/26px 'Cabin', sans-serif;
	color: #666;
	height: 26px;
}
div.hours-form ul li.days div,
div.hours-form div.add { 
	background-color: #FFF; 
	width: 30px; 
	height: 30px; 
	margin-right: 5px; 
	border: 1px solid #CCC; 
	border-radius: 4px; 
	line-height: 30px; 
	text-align: center; 
	font-size: 14px; 
	font-weight: bold; 
	color: #999;
	float: left;
	cursor: pointer;
}
div.hours-form ul li.days{ 
	width: 260px; height: 32px;
}
div.hours-form ul li.days div.active { 
	background-color: #FFFFCC; 
	border-color: #F9B64B; 
	color: #666; 
}
div.hours-form ul li.time { 
    margin-left: 10px; 
    width: 130px; height: 32px;
}
div.hours-form ul li.time select { 
    vertical-align: middle;
}
div.hours-form ul li.buttons {
	margin-left: 20px; height: 32px;
}
div.hours-form ul li.buttons div {
    position: relative; top: 4px;
    float: left;
	width: 24px;
	height: 24px;
	cursor: pointer;
}
div.hours-form ul li.buttons input[type="checkbox"] {
    float: left;
    vertical-align: middle;
}
div.hours-form ul li.buttons div.remove {
	margin-left: 42px;
	background-image: url('../images/hours_remove.1.0.png');
}

div.hours-form div.add {
	width: 254px; height: 24px;
	margin: 10px 0 20px; 
	font-size: 14px; 
	border: 1px solid #669900;
	font: bold 16px/26px 'Cabin', sans-serif;
	color: white;

    background-image: -ms-linear-gradient(top, #B2E179 0%, #92C657 100%);
    background-image: -moz-linear-gradient(top, #B2E179 0%, #92C657 100%);
    background-image: -o-linear-gradient(top, #B2E179 0%, #92C657 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B2E179), color-stop(1, #92C657));
    background-image: -webkit-linear-gradient(top, #B2E179 0%, #92C657 100%);
    background-image: linear-gradient(to bottom, #B2E179 0%, #92C657 100%);
}

#hours_e {
    position: relative; top: 9px;
}
#store-hours-preview{
	color: #666;
	font-size: 12px;
}
