/*
    Styles for the store locations list in store details.
*/

.store-locations {
	font: normal 15px/20px 'Cabin', sans-serif;
	color:#666;
    background:white; overflow: hidden;
    position: relative;
    padding: 0;
}

/*
    List in the header.
*/
.store-locations.header {
    float: right;
    max-height: 400px;
    z-index: 11;
	border-bottom:1px solid #CCC;
	
    background-image: -ms-linear-gradient(bottom, #F1F1F1 0%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(bottom, #F1F1F1 0%, #FFFFFF 100%);
    background-image: -o-linear-gradient(bottom, #F1F1F1 0%, #FFFFFF 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #F1F1F1), color-stop(1, #FFFFFF));
    background-image: -webkit-linear-gradient(bottom, #F1F1F1 0%, #FFFFFF 100%);
    background-image: linear-gradient(to top, #F1F1F1 0%, #FFFFFF 100%);
}

.store-locations.header:hover {
    background-image: -ms-linear-gradient(bottom, #E1E1E1 0%, #EEEEEE 100%);
    background-image: -moz-linear-gradient(bottom, #E1E1E1 0%, #EEEEEE 100%);
    background-image: -o-linear-gradient(bottom, #E1E1E1 0%, #EEEEEE 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #E1E1E1), color-stop(1, #EEEEEE));
    background-image: -webkit-linear-gradient(bottom, #E1E1E1 0%, #EEEEEE 100%);
    background-image: linear-gradient(to top, #E1E1E1 0%, #EEEEEE 100%);
}

/*
    List in store_details.
*/
.store-locations.navcontent {
	border:1px solid #CCC;
	border-radius:4px;
    min-height: 560px; width: 670px; 
}

.store-locations > div {
    display: inline-block;
}

.store-locations.header > div.current,
.store-locations > div.nav {
    width: 222px; 
    float: left; clear: both;
}

.store-locations > div.nav {
    width: 220px;
    min-height: inherit;
	border-right:1px solid #CCC;
}

.store-locations.header > div.current {
	white-space: nowrap; overflow: hidden;
	font: bold 12px/18px 'Cabin', sans-serif;
    height: 52px; width:192px;
    background: inherit;
    padding: 8px 10px 10px 20px;
    /*  
        relative positioning required for z-index
        (relative to other relative positioned elements) to take effect
    */
    position: relative;  z-index: 6;
}

.store-locations.header > div.current:before {
    position:absolute; top:26px; right:10px;
	content: url('../images/arrow-down-large.png');
}

.store-locations.header > div.current:after {
    display: none; opacity: 0.7;
    position:absolute; top:28px; right:8px;
	content: url('../images/ajax-loader-small.gif');
}

.store-locations.header.reloading > div.current:before {
    display: none;
}

.store-locations.header.reloading > div.current:after {
    display: block;
}

.store-locations > div.scroll {
	background: #666 url('../images/bkg_sidebar.png') repeat top left;
    text-align: center; height: 10px;
    position: absolute; left: 0px;
}

.store-locations > div.scroll:hover {
    background: #555;
}

.store-locations > div.scroll.up {
    top: 0px;
}

.store-locations > div.scroll.down {
    /* this should be on top of the add button */
    bottom: 80px;
}

.store-locations.header > div.scroll.down {
    /* no add button in the header */
    bottom: 0px;
}

.store-locations > a.add,
.store-locations > div.content div label {
	font: bold 15px/20px 'Cabin', sans-serif;
}


.store-locations > div.nav > a {
	color:#666;
    position: relative; top: 0px;
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
}

.store-locations.header > div.scroll.up {
    top: 70px;
}

.store-locations > div.nav > a > div {
	font: normal 15px/20px 'Cabin', sans-serif;
	white-space: nowrap; overflow: hidden;
}

.store-locations.header > div.nav > a > div {
    font-size: 12px;
}

.store-locations > div.nav > a.active > div {
    font-weight: bold;
}

.store-locations.header > div.current span,
.store-locations > div.nav > a.active > div > span {
    display: block;
    margin-top: 0;
    color: #669900;
}

.store-locations > div.nav > a.active > div > span {
    margin-bottom: 10px;
}


.store-locations.header > div.current span:after,
.store-locations > div.nav > a.active > div > span:after {
	font: bold 15px/20px 'Cabin', sans-serif;
    content: "Current Location";
    color: #0965ad;
}

.store-locations.header > div.current span:after {
    top: 0; font: bold 12px/6px 'Cabin', sans-serif;
}

.store-locations > div.scroll,
.store-locations > a.add {
    width: 200px;
    z-index: 5;
}

.store-locations > div.scroll > img {
    position: relative; top: -3px;
    width: 32px; height: 12px;
}

.store-locations > div.scroll,
.store-locations > div.nav > a > div {
	border:1px solid #CCC;
    border-left: 0px; border-top: 0px;
    padding: 10px;
}

.store-locations > div.scroll {
    padding: 5px 10px 5px 11px;
}

.store-locations.header > div.scroll {
    padding-right: 11px;
}

.store-locations > div.scroll.down {
	border:1px solid #CCC;
    border-bottom: 0px;
    border-left: 0px;
}

.store-locations > div.nav > a > div {
    width: 190px; height: 40px;
    padding: 10px 10px 10px 20px;
	background-color:#F0F8FB;
}

.store-locations > div.nav > a > div:hover {
	background-color:#e0e7ea;
}

.store-locations > div.nav > a.active > div {
    height: 70px;
    border-right: 0px;
    background: white;
    /* add width to cover up div.nav's right border */
    width: 191px; 
}

.store-locations.header > div.nav > a.active > div {
    width: 190px; height: 40px;
}

.store-locations > a.add {
    position: absolute; left: 0px; bottom: 0px;
    text-decoration: none;
	color:#666;
}

.store-locations > a.add > div {
	font: bold 15px/20px 'Cabin', sans-serif;
    background: white;
    text-align: center;
    width: 200px; height: 60px;
    padding: 10px 10px;
	border-right:1px solid #CCC;
	border-top:1px solid #CCC;
} 

.store-locations.header > a.add > div,
.store-locations.header > div.nav > a > div {
	border:1px solid #CCC;
	border-top: 0;
}

.store-locations > a.add > div > img,
.store-locations > div.nav > a.add > div >img {
    margin-top: 6px;
}
    
.store-locations > div.content {
    width: 384px; height: 100%;
    padding: 20px 20px 20px 40px;
}

.store-locations > div.content div {
	font: normal 16px/24px sans-serif;
    margin: 20px 0;
}


.store-locations > div.content div a.button.blue {
    margin-top: 10px;
}

.store-locations > div.content > div.wrapper {
    display: none;
}

.store-locations > div.content > div.wrapper.active {
    display: block;
}

.store-locations > div.content > div.wrapper > img {
    /* for some reason this is not left aligned */
    position: relative; left: 0px;
}

/***
    Header specifics.
*/
.store-locations.header > div.scroll,
.store-locations.header > div.nav,
.store-locations.header > a {
    display: none;
}


.store-locations.header:hover > div.scroll,
.store-locations.header:hover > div.nav,
.store-locations.header:hover > a {
    display: block;
}


