/*
    Styles for the store locations list in store details.
*/

#store-locations {
	font: 'Cabin', sans-serif;
	color:#666;
    min-height:486px; width: 670px;
    background:white; overflow: hidden;
    position: relative;
    padding: 0;
}

#store-locations > div {
    display: inline-block;
}

#store-locations > div.nav {
    width:223px; height: 400px;
    float: left;
}

#store-locations > div.scroll {
	background: #666 url('../images/bkg_sidebar.png') repeat top left;
    text-align: center; height: 20px;
    position: absolute; left: 0px;
    cursor: pointer;
}


#store-locations > div.scroll.active {
	background: #666 url('../images/bkg_sidebar-active.png') repeat top left;
}

#store-locations > div.scroll.up {
    top: 0px;
}

#store-locations > div.scroll.down {
    bottom: 0px;
}

#store-locations > div.content {
    width: 364px; height: 100%;
    padding: 20px 40px;
}

#store-locations > div.content > div > label,
#store-locations > div.nav > a {
	font: bold 15px/20px 'Cabin', sans-serif;
}

#store-locations > div.nav > a {
	color:#666;
    position: relative; top: 0px;
    text-decoration: none;
    z-index: 1;
}

#store-locations > div.scroll,
#store-locations > div.nav > a.add {
    z-index: 5;
}

#store-locations > div.scroll,
#store-locations > div.nav > a > div {
    width: 200px;
	border:1px solid #CCC;
    border-left: 0px; border-top: 0px;
    padding: 10px 10px;
}

#store-locations > div.scroll.down {
	border:1px solid #CCC;
    border-bottom: 0px;
    border-left: 0px;
}

#store-locations > div.nav > a > div {
    height: 40px;
    background: #ddd;
}

#store-locations > div.nav > a.active > div {
    border-right: 0px;
    background: inherit;
}

#store-locations > div.content > div {
    margin: 20px 0;
}


