/*
    For the categories auto-complete feature.
*/

#categories-box {
    width: 800px;
    margin-top:0px; padding-top:0px;
    display:inline-block;
}

#categories-box input {
    width:200px;
}

#categories-box span {
    position:relative; top:2px;
}

.closable-box, .close-xtag {
    margin-left:2px;
    padding:4px 10px; 
    border:1px groove #7294af;
    font-size:1.2em;
    font-weight:bold;
    color:#3f3f3f;
    background:#f79234; 
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

.closable-box {
    padding-right:42px;
}

.close-xtag {
    position:relative; left:-35px;
    background:#0965ad; 
}

.close-xtag:hover {
    cursor:move;
}
