/*
    For the categories auto-complete feature.
*/

#categories-box {
    width: 800px;
    margin-top:0px; padding-top:0px;
    display:inline-block;
}

#categories-box input {
    width:200px;
}

#categories-box span {
    position:relative; top:2px;
}

.closable-box, .close-xtag {
    padding:4px 10px; 
    border:1px groove #7294af;
	font: bold 1.0em 'Cabin', sans-serif;
    color:white;
    background:#F08C13; 
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

.closable-box {
    padding-right:42px;
    margin-left:10px;
}

.close-xtag {
    position:relative; left:-32px; 
    border:1px transparent;
}

.close-xtag:hover {
    cursor:pointer;
}
