body{
	color:#707070;
	font:12px/18px sans-serif;
	background:#444 url(../images/bkg_dark-texture.png) repeat;
}

a{
	cursor:pointer;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}

a.button{
	color:white;
	height:38px;
	padding:0 30px;
	font-size:12px;
	font-weight:bold;
	line-height:38px;
	display:inline-block;
	text-decoration:none;
}

a.button.orange{
	border:1px solid #933408;
	border-width:1px 1px 2px 1px;
	text-shadow:none;
	letter-spacing:normal;
	font: bold 16px/40px 'Cabin', sans-serif;
	background: #2359A1 url('../images/bkg_button-orange.png') repeat-x top left;
}

.clear-both{
	clear:both;
}

.bottom-shadow{
	box-shadow: 0 8px 6px -6px #ccc;
	-o-box-shadow: 0 8px 6px -6px #ccc;
	-md-box-shadow: 0 8px 6px -6px #ccc;
	-moz-box-shadow: 0 8px 6px -6px #ccc;
	-webkit-box-shadow: 0 8px 6px -6px #ccc;
}

/*** header styles ***/
/*********************/
#header-wrapper{
	width:100%;
	height:90px;
	padding-bottom:28px;
	background:transparent url(../images/bkg_content.png) repeat;
}

#header-content {
    width:100%;
	height:74px;
	/**
	background-color: #eee;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee); 
    background-image:    -moz-linear-gradient(top, #fff, #eee);
    background-image:     -ms-linear-gradient(top, #fff, #eee);
    background-image:      -o-linear-gradient(top, #fff, #eee);
	**/
    background-image: -ms-linear-gradient(top, #FFB940 0%, #F08C13 100%);
    background-image: -moz-linear-gradient(top, #FFB940 0%, #F08C13 100%);
    background-image: -o-linear-gradient(top, #FFB940 0%, #F08C13 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFB940), color-stop(1, #F08C13));
    background-image: -webkit-linear-gradient(top, #FFB940 0%, #F08C13 100%);
    background-image: linear-gradient(to bottom, #FFB940 0%, #F08C13 100%);
	border: 1px solid #ddd;
	border-top: 0;
	box-shadow:0px 0px 10px 0px #555;
	-o-box-shadow:0px 0px 10px 0px #555;
	-ms-box-shadow:0px 0px 10px 0px #555;
	-moz-box-shadow:0px 0px 10px 0px #555;
	-webkit-box-shadow:0px 0px 10px 0px #555;
}

#header-content div{
	width:960px;
	margin:0 auto;	
	overflow:hidden;
}

#header-logo{
	float:left;
	display:block;
	margin:18px 0 19px 22px;
}

#header-menu{
	float:right;
	font: bold 18px/18px 'Cabin', sans-serif;
}

#header-menu a.menuitem{
	/** color:#696969; */
	color: white;
	display:inline-block;
	letter-spacing:0.7px;
	padding:34px 7px 0;
	margin-right:24px;
	border-top:2px #F7F7F7 solid;
}

#header-menu a.menuitem:last-child{
	margin-right:0px;
}

#header-menu a.menuitem.active{
	border-top:2px #0965ad solid;
}
	
#header-signin-btn, #header-dashboard-btn{
	height:24px;
	color:white;
	float:right;
	padding:0 10px;
	display:block;
	font:bold 1.3em 'Cabin', sans-serif;
	line-height:24px;
	background:#0965ad;
	text-decoration:none;
	margin:31px 24px 0 35px;
	border:2px blue groove;
	border-bottom-width:2px;
}

#header-signin-btn:hover, #header-dashboard-btn:hover {
    background: blue;
}


/*** terms styles ***/
/*******************/
.policy li span {
    text-decoration: underline;
    font-weight:bold;
    margin-right: 12px;
}
.policy li ol {
    margin:20px 0px;
}
.policy li ol li {
    margin-bottom:10px;
}

/*** page styles ***/
/*******************/
.repunch-blue {
    color: #0965ad;
}

.repunch-orange {
    color: #F08C13;
}

.page-title{
    color:#0a71c1;
	font: normal 2.3em/12px 'Cabin', sans-serif;
    margin: 40px 0px; margin-top:30px;
}

.page-title-container {
    width:960px;
	margin: 0 auto;
}

#page-wrapper{
	width:100%;
	overflow:hidden;
	background:transparent url(../images/bkg_content.png) repeat;
}

#page-content{
	width: 960px;
	overflow: visible;
	position: relative;
	margin: 0 auto 40px;
	background: transparent url('../images/bkg_content.png') repeat 0 0;
	min-height: 500px;
	padding-bottom: 35px;
}

#page-content.home{
	margin:0 auto;
	box-shadow:none;
	-o-box-shadow:none;
	-ms-box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	background:none;
}

/*** home styles ***/
/*******************/
#home-slideshow{
	display:none;
	background:#C1C1C1;
	box-shadow:0px 0px 10px 0px #555;
	-o-box-shadow:0px 0px 10px 0px #555;
	-ms-box-shadow:0px 0px 10px 0px #555;
	-moz-box-shadow:0px 0px 10px 0px #555;
	-webkit-box-shadow:0px 0px 10px 0px #555;
	border:1px solid #ddd;
}

#home-slideshow	.slidesjs-pagination{
	display:none;
}

#home-slideshow	.slidesjs-navigation{
	width:0;
	height:53px;
	outline:none;
	display:block;
	overflow:hidden;
	position:absolute;
	padding-left:43px;
	border:1px solid #ddd;
}

#home-slideshow	.slidesjs-previous{
	display:none;
	
	top:188px;
	left:-44px;
	border-right:none;
	background:#FFF url('../images/icon_arrow-left.png') no-repeat center center;
	
	box-shadow:-1px 0px 10px 0px #ddd;
	-o-box-shadow:-1px 0px 10px 0px #ddd;
	-ms-box-shadow:-1px 0px 10px 0px #ddd;
	-moz-box-shadow:-1px 0px 10px 0px #ddd;
	-webkit-box-shadow:-1px 0px 10px 0px #ddd;

	border-radius:10px 0 0 10px;
	-o-border-radius:10px 0 0 10px;
	-ms-border-radius:10px 0 0 10px;
	-moz-border-radius:10px 0 0 10px;
	-webkit-border-radius:10px 0 0 10px;
}
#home-slideshow	.slidesjs-next{
	display:none;
	
	top:188px;
	right:-44px;
	border-left:none;
	background:#F9F9F9 url('../images/icon_arrow-right.png') no-repeat center center;
	
	box-shadow:1px 0px 10px 0px #ddd;
	-o-box-shadow:1px 0px 10px 0px #ddd;
	-ms-box-shadow:1px 0px 10px 0px #ddd;
	-moz-box-shadow:1px 0px 10px 0px #ddd;
	-webkit-box-shadow:1px 0px 10px 0px #ddd;
	
	border-radius:0 10px 10px 0;
	-o-border-radius:0 10px 10px 0;
	-ms-border-radius:0 10px 10px 0;
	-moz-border-radius:0 10px 10px 0;
	-webkit-border-radius:0 10px 10px 0;
}

.home-col{
	width:438px;
	min-height:295px;
	position:relative;
	margin:28px 0;
	padding:25px 0 0 25px;
	border:1px #ddd solid;
	background:white;
	
	box-shadow:0px 0px 10px 0px #555;
	-o-box-shadow:0px 0px 10px 0px #555;
	-ms-box-shadow:0px 0px 10px 0px #555;
	-moz-box-shadow:0px 0px 10px 0px #555;
	-webkit-box-shadow:0px 0px 10px 0px #555;
}

.home-col img.boximage {
	right: 0;
	top: 0px;
	position: absolute;
}

.home-col h2{
	margin:4px 0 5px;
	color:#666;
	font-size:24px;
	line-height:24px;
	font-style:italic;
	font-family:Georgia, serif;
	font-weight:normal;
}

#home-col-left h1,
#home-col-right h1 {
	font: bold 2.4em/20px 'Cabin', sans-serif;
}

.home-col p{
    color:#0965ad;
	font: normal 17px 'Cabin', sans-serif;
    line-height:21px;
	margin:5px 0 30px;
    padding-right:275px;
}

#home-col-left{
	float:left;
}

#home-col-right{
	float:right;
}

#home-dowload-app{
	width:180px;
    margin-right:270px;
}

#home-dowload-app h2{
	padding:0;
	font-size:16px;
	margin:-10px 0 5px 0; 
}

#home-dowload-app img{
	cursor:pointer;
	margin-bottom: 5px;
}

#phone-apps-form{
	margin-top:15px;
}
#phone-apps-form label{
	font-size:14px;
	color:#666666;
    font-family:Georgia,serif;
    font-style:italic;
    font-weight:normal;
    margin:4px 0 5px;
}

#phone-apps-form input{
	width:160px;
    font-size:18px;
	height:24px;
	color:#646464;
	line-height:24px;
	margin:4px 0 10px;
	text-align:center;
	padding-bottom:5px;
	border:1px #CFCFCF solid;
	
	border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

/*** learnmore styles ***/
/************************/
#learn-list{
	padding:31px 30px 30px;
	border-bottom:1px #d1cfc2 solid;
	background:transparent url(../images/bkg_light-yellow-grid.png) repeat;
}

#learn-list h1{
	color:#FFF;
	margin:0px;
	font-size:25px;
	height:75px;
	line-height:75px;
	text-align:center;
	font-weight:normal;
	letter-spacing:1.3px;
	background:transparent url(../images/bkg_dark-texture.png) repeat;
}

#learn-list-bullets-box{
	background:#FFF;
	min-height:300px;
	padding-top:30px;
	overflow:hidden;
	border:1px #CCCDC7 solid;
}

.learn-bullet{
	float:left;
	width:400px;
	font-size:14px;
	padding-right:34px;
	margin-bottom:30px;
}

.learn-bullet .img-box{
	float:left;
	width:50px;
	height:35px;
	cursor:pointer;
	padding-top:17px;
	text-align:center;
	vertical-align:middle;
	margin:13px 20px 25px 42px;
	background:transparent url(../images/bkg_small-box.png) repeat;
}
	
.learn-bullet h2{
	color:#3b3b3b;
	font-size:17px;
	margin:0 0 7px;
}

.learn-bullet p{
	margin:0;
}

#learn-bottom{
	border-top:1px #FFF solid;
	background:white;
	
	box-shadow:0px 0px 10px 0px #555;
	-o-box-shadow:0px 0px 10px 0px #555;
	-ms-box-shadow:0px 0px 10px 0px #555;
	-moz-box-shadow:0px 0px 10px 0px #555;
	-webkit-box-shadow:0px 0px 10px 0px #555;
	/*background:transparent url('../images/bkg_shadow.png') no-repeat 0 0;*/
}
	
#learn-bottom h1,
#learn-plans h1 {
	margin:0px;
	color:#707070;
	font-size:25px;
	height:75px;
	line-height:75px;
	text-align:center;
	font-weight:normal;
	letter-spacing:1.3px;
	background:none;
}

#learn-bottom-menu{
	height:75px;
	width:894px;
	margin:0 auto;
	line-height:75px;
	border-right:1px #CCC solid;
}

#learn-bottom-menu a{
	float:left;
	height:75px;
	width:149px;
	color:#7C7C7C;
	font: normal 15px/76px 'Cabin', sans-serif;
	outline:none;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	background:#fff url(../images/bkg_secondary-nav-off.png) no-repeat 0 0;
}

#learn-bottom-menu a:hover{
	/*text-shadow:1px 1px 1px #DF8215;*/
	opacity:0.8;
}

#learn-bottom-menu a img{
	vertical-align:middle;
}

#learn-bottom-menu a.active{
	color:#3B3B3B;
	font-weight:bold;
	background:#fff url(../images/bkg_secondary-nav-on.png) no-repeat 0 0;
}

#learn-bottom-tabs-contents{
	width:895px;
	margin:0 auto;
	overflow:hidden;
}

#learn-bottom-tabs-contents .tab {
	width:840px;
	display:none;
	min-height:680px;
	padding-top:45px;
	overflow:hidden;
	margin:0 auto;	
}

#learn-bottom-tabs-contents .tab.active{
	display:block;
}

#learn-bottom-tabs-contents .tab .col1{
	width:440px; 
	float:left;
	font-size:15px;
	padding-top:30px;
}

#learn-bottom-tabs-contents .tab .col1 h2{
	margin:0;
	color:#464646;
	font: normal 24px/28px 'Cabin', sans-serif;
}

#learn-bottom-tabs-contents .tab .col1 h2 img{
	margin-right:5px;
}

#learn-bottom-tabs-contents .tab .col1 p{
	padding:0px;
}

#learn-bottom-tabs-contents .tab  .col2 {
	width:320px;
	float:right;
}

#learn-plans {
}

#price-plan-boxes {
	padding:0;	
}

#learn-plans .bkg_price-plan-box {
	width: 195px;
	height: 160px;
	margin: 0 22px;
	background: transparent url('../images/bkg_price-plan-box.png') no-repeat 0 0;
	text-align: center;
	float: left;
}

#learn-plans .bkg_price-plan-box h3 {
	border: 0px;
	height: 40px;
	color: #254f8B;
}

#learn-plans .bkg_price-plan-box .orange-text{
	color:#FB6809;
	font-weight:bold;
	margin:15px 0 3px;
	font-size:15px;
}

#learn-plans .bkg_price-plan-box span{
	font-size:15px;
}

#ad-wrapper{
	width:100%;
	background:#fff;
	padding-bottom:25px;
}

#ad-content {
	height: 74px;
	width: 960px;
	margin: 0 auto;
	text-align: center;
	font: normal 19px/74px 'Cabin', sans-serif;
	color: #F5F5F5;
	letter-spacing: 0.7px;
	text-shadow: 1px 1px 1px #0f294e;
	background: url('../images/bkg_blue-striped-texture.1.0.png');
	border-radius: 7px;
	
	box-shadow:0px 0px 10px 0px #999;
	-o-box-shadow:0px 0px 10px 0px #999;
	-ms-box-shadow:0px 0px 10px 0px #999;
	-moz-box-shadow:0px 0px 10px 0px #999;
	-webkit-box-shadow:0px 0px 10px 0px #999;
}

#ad-content a{
	margin-left:25px;
}


/*** faq styles ***/
/******************/
#faq-header{
	margin:0px;
	height:99px;
	font-size:36px;
	font-weight:normal;
	background:#FFF;
	line-height:99px;
	padding-left:35px;
}

#faq-content{
	overflow:hidden;
    border-top:1px solid #CBCBCB;
	background:white;
	box-shadow:0px 0px 10px 0px #555;
	-o-box-shadow:0px 0px 10px 0px #555;
	-ms-box-shadow:0px 0px 10px 0px #555;
	-moz-box-shadow:0px 0px 10px 0px #555;
	-webkit-box-shadow:0px 0px 10px 0px #555;
}

#faq-content h3 {
	margin:0px; padding: 0px;
	color:#0965ad;
	font: normal 16px 'Cabin', sans-serif;
	line-height:18px;
	letter-spacing:0.8px;
}

#faq-content p{
	font-size:15px;
	line-height:20px;
	letter-spacing:0.9px;
    margin-top:10px;
    margin-bottom:40px;
}

#faq-content .col1{
	float:left;
	width:580px;
	padding:27px 15px 0 35px;
}

#faq-content .col1 h1{
	font: normal 24px 'Cabin', sans-serif;
}

#faq-content .col2{
	float:right;
	width:272px;
	min-height:250px;
	padding:27px 15px 0 35px;
	border-left:1px #CFCFCF solid;
}

#faq-content #question-description{
	font-size:13px;
	line-height:18px;
	margin-bottom:32px;
	padding-right:15px;
}

#make-question-form label{
	color:#646464;
	font: bold 15px 'Cabin', sans-serif;
	display:block;
	margin:0 0 7px;
}

#make-question-form textarea,
#make-question-form input{
	width:243px;
	height:28px;
	color:#646464;
	padding-left:5px;
	line-height:28px;
	margin-bottom:23px;
	border:1px #CFCFCF solid;
	
	border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

#make-question-form textarea{
	resize:none;
	height:148px;
}

#make-question-form .button.orange{
	width:31px;
	margin:0 auto;
	display:block;
}
	
/*** about us styles ***/
/***********************/
#about-header{
	margin:0px;
	height:99px;
	font-size:36px;
	font-weight:normal;
	background:#FFF;
	line-height:99px;
	padding-left:35px;
}

#about-content{
	border-top:1px solid #CBCBCB;
	background:white;
	box-shadow:0px 0px 10px 0px #555;
	-o-box-shadow:0px 0px 10px 0px #555;
	-ms-box-shadow:0px 0px 10px 0px #555;
	-moz-box-shadow:0px 0px 10px 0px #555;
	-webkit-box-shadow:0px 0px 10px 0px #555;
}

#about-content h3.content-header {
	color:#0965ad;
	font: normal 1.9em/10px 'Cabin', sans-serif;
	margin:8px 0px;
}

#about-content h4.content-header {
	font-size:1.4em;
	font-weight: normal;
	line-height:22px;
}

#team-photo{
	margin:0px 0 15px;
	border:1px #CBCBCB solid;
}

#about-content p{
	font-size:14px;
	line-height:20px;
	letter-spacing:0.9px;
    margin-top:10px;
    margin-bottom:20px;
}

#about-content .col1 {
	float: left;
	width: 910px;
	padding: 27px 30px 20px 35px;
}

#about-content .col2{
	float:right;
	width:272px;
	min-height:250px;
	padding:27px 15px 0 35px;
	border-left:1px #CFCFCF solid;
	display:none;
}

#about-map{
	border:1px #CBCBCB solid;
}

#map-address{
	color:#646464;
	font: bold 14px 'Cabin', sans-serif;
}

#contact-form label{
	color:#646464;
	font: bold 15px 'Cabin', sans-serif;
	display:block;
	margin:0 0 7px;
}

#contact-form textarea,
#contact-form input{
	width:300px;
	height:28px;
	color:#646464;
	padding-left:5px;
	line-height:28px;
	margin-bottom:23px;
	border:1px #CFCFCF solid;
	background:#f2f2f2;
	
	border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

#contact-form textarea{
	resize:none;
	height:148px;
}

#contact-form .button.orange{
	width:31px;
	margin:0 auto;
	display:block;
}

#the-team{
	padding:0 10px; padding-left:36px;
	overflow:hidden;
	border-top:1px #CFCFCF solid;
	background:transparent url('../images/bkg_white-grid.png') repeat 0 0;
}

#the-team-title{
	color:#0965ad;
	margin:32px 0 25px;
	margin-bottom:70px; margin-top:50px;
	text-align:center;
	font: bold 2.0em 'Cabin', sans-serif;
}

.the-team-member{
	float:left;
	cursor:pointer;
	margin:0px 20px 50px; 
}

.member-picture-border{
	width:160px;
	height:160px;
	padding:3px;
	background:#FFF;
	overflow:hidden;
	border:1px #CFCFCF solid;
	
	border-radius:28px;
	-o-border-radius:28px;
	-ms-border-radius:28px;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
}

.member-picture, 
.member-picture img{
	background:#CCC;
	width:160px;
	height:160px;
	
	border-radius:25px;
	-o-border-radius:25px;
	-ms-border-radius:25px;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
}

.member-name{
	margin:20px 0 10px;
	font: bold 1.5em 'Cabin', sans-serif;
	text-align:center;
}

.member-title{
	margin:0;
	font-size:16px;
	text-align:center;
	max-width:164px;
}

/*** contact page styles ***/
/**********************/
#contact-header{
	margin:0px;
	height:99px;
	font-size:36px;
	font-weight:normal;
	background:#FFF;
	line-height:99px;
	padding-left:35px;
}

#contact-content{
	overflow:hidden;
    border-top:1px solid #CBCBCB;
	background:white;
	padding:30px;
	box-shadow:0px 0px 10px 0px #555;
	-o-box-shadow:0px 0px 10px 0px #555;
	-ms-box-shadow:0px 0px 10px 0px #555;
	-moz-box-shadow:0px 0px 10px 0px #555;
	-webkit-box-shadow:0px 0px 10px 0px #555;
}

#contact-content .col1 {
float: left;
}

#contact-content .col2 {
float: right;
}

/*** sign-up styles ***/
/**********************/
#signup-header{
	margin:0px;
	height:99px;
	font-size:36px;
	font-weight:normal;
	background:#FFF;
	line-height:99px;
	padding-left:35px;
}

#signup-content{
	border-top:1px solid #CBCBCB;
	background:transparent url("../images/bkg_shadow.png") no-repeat 0 0;
}

#signup-content p{
	font-size:14px;
	line-height:20px;
	letter-spacing:0.9px;
    margin-top:10px;
    margin-bottom:20px;
}

#signup-content .col1{
	float:left;
	width:663px;
	padding:27px 0px 0 35px;
}

#signup-steps-box{
	overflow:hidden;
	position:relative;
	padding-top:35px;
	border-bottom:1px #CCC solid;
	margin-bottom:40px;
}

#signup-steps-box #steps-double-line{
	top:80px;
	height:2px;
	width:100%;
	z-index:5;
	position:absolute;
	border-top:1px #CCC double;
	border-bottom:1px #CCC double;
	}

#signup-steps-box .step-box{
	width:33%;
	float:left;
	z-index:6;
	text-align:center;
	position:relative;
}

#signup-steps-box .step-box span{
    margin:0 0 3px;
    font-size:13px;
	color: #BEBEBE;
    line-height:16px;
    font-style:italic;
	font-weight:normal;
    font-family:Georgia,serif;
}

#signup-steps-box .step-box .step-img{
	width:50px;
	height:38px;
	padding-top:12px;
	margin:2px auto;
	background:transparent url(../images/bkg_small-box.png) repeat;
}

#signup-steps-box .step-box .step-des{
	display:block;
	padding:25px 17px 40px;
	}

#signup-content .col1 h2{
	color:#0965ad;
	font: normal 24px/24px 'Cabin', sans-serif;
	margin:0px;
	letter-spacing:normal;
}

#signup-content .col2{
	float:right;
	width:262px;
	min-height:250px;
	text-align:center;
	padding:27px 0 0;
}

#signup-content .col2 h2{
    margin:0 0 3px;
    font-size:18px;
	color: #BEBEBE;
    line-height:18px;
    font-style:italic;
	font-weight:normal;
    font-family:Georgia,serif;
}

#signup-content .bkg_price-plan-box{
	width:195px;
	height:160px;
	margin:15px auto 0;
	background:transparent url('../images/bkg_price-plan-box.png') no-repeat 0 0;
}

#signup-content .bkg_price-plan-box h3{
	border:0px;
	height:45px;
	color:#254f8B;
	line-height:45px;
}

#signup-content .bkg_price-plan-box .orange-text{
	color:#FB6809;
	font-weight:bold;
	margin:28px 0 3px;
}

#signup-content .bkg_price-plan-box span{
	font-size:15px;
}

#signup-form{}

#signup-form .floated{
	float:left;
	padding-right:12px;
}

#signup-form p{
    margin:0 0 15px;
    color: #0965ad;
    line-height:16px;
	font: bold 18px 'Cabin', sans-serif;
}

#signup-form label{
	color:#646464;
	display:block;
	font: bold 15px 'Cabin', sans-serif;
	margin:0 0 7px;
}

#signup-form select,
#signup-form textarea,
#signup-form input{
	width:243px;
	height:28px;
	color:#646464;
	padding-left:5px;
	line-height:28px;
	margin-bottom:23px;
	border:1px #CFCFCF solid;
	
	border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

#signup-form label#same_address_span{
	color:#ababab;
	font-size:15px;
	display:inline;
	font-weight:bold;
	margin:0 0 7px;
}

#signup-form input#same_address{
    position:relative; top:3px; left:2px;
}

#signup-form textarea{
	resize:none;
	height:148px;
}

#signup-form #id_store_name{
	width:248px;
}

#signup-form #id_street{
	width:338px;
}

#signup-form #id_city, #signup-form #id_city2{
	width:196px;
}

#signup-form #id_state, #signup-form #id_state2{
	width:96px;
}

#signup-form #id_zip, #signup-form #id_zip2{
	width:96px;
}

#signup-form #id_country{
	width:196px;
}

#signup-form #id_first_name, #signup-form #id_last_name,
#signup-form #id_first_name, #signup-form #id_last_name{
	width:248px;
}

#signup-form #id_email {
	width:248px;
}

#signup-form #id_username {
	width:248px;
}

#signup-form #phone {
	width:200px;
}

#signup-form input[type=checkbox]{
    width:14px; height:14px;
}

#card_number_container {
	margin-bottom: 23px;
}

#card_number_container img {
	vertical-align: middle;
}
#card_number_container input {
	margin-bottom: 0px;
}

#signup-form #id_date_cc_expiration_month, #signup-form #id_date_cc_expiration_year {
	width: 100px;
}

#signup-form #id_cc_cvv {
	width: 50px;
}

#signup-form #recurring_charge_container input,
#signup-form #place_order_container input {
	width: auto;
	height: auto;
	border: none; 
	margin: 0px;
}

#signup-form #recurring_charge_container label,
#signup-form #place_order_container label {
	display: inline; line-height: 12px;
}

/** error styles **/
ul.errorlist { margin: 10px 0px 0px 0px; padding: 0px;  list-style: none; }
ul.errorlist li { margin: 0px; padding: 0px; color: red; font-size: 12px; position: relative; top: 0px; }
.error-box { padding: 5px; margin-bottom: 10px; background-color: #CC0000; border: 1px solid #990100; color: #FFFFFF; }

/*** footer styles ***/
/*********************/
#footer-wrapper{
	width:100%;
	border-top:1px #353535 solid;
}

#footer-content{
	width:960px;
	margin:0 auto;
	min-height:105px;
}

#footer-menu{
	margin:0px;
	padding:0px;
	font-size:16px;
	line-height:16px;
	text-align:center;
}

#footer-menu li.menuitem{
	color:#F5F5F5;
	display:inline-block;
	letter-spacing:0.7px;
	padding:19px 7px 0;
	margin-left:5px;
	margin-right:15px;
	font: normal 16px 'Cabin', sans-serif;
}

#footer-menu li.menuitem a{
	color:#F5F5F5;
	text-shadow: 0px 0px 3px #000;
}

#footer-menu li.menuitem img{
	margin:0 3px;
	vertical-align:middle;
}

#footer-menu li.menuitem:last-child{
	margin-left:0px;
	margin-right:20px;
	font: italic 15px 'Cabin', sans-serif;
	text-shadow: 0px 0px 3px #000;
}

#footer-links{
	margin-top:9px;
	text-align:center;
}

#footer-links span{
	color:#AFAFAF;
	letter-spacing: normal;
	margin:0 13px;
	font: normal 13px 'Cabin', sans-serif;
	display:inline-block;
}

/************************************ Accordion CSS */
#accordion-wrapper {
width: auto;
margin-left: auto;
margin-right: auto;
}

.accordionButton {
cursor: pointer;
margin: 1px 0 0 0;
padding: 10px;
}

.accordionButton:hover {
	background:#fff;
}

.accordionButton:active {
	background:#fff;
}
	
.accordionContent {	
width: auto;
padding: 0 0 0 10px;
}

.ui-body-c {
background-image: none;
background-color: transparent;
text-shadow: none;
}

.small {
font-size: 11px;
color: #999;
line-height: 15px;
}

.blue {
color: #0965ad;
}

.bold {
font-weight: bold;
}

.italic {
font-style:italic;
}

.georgia {
font-family:georgia;
color:#999;
}
/************************************ End Accordion CSS */
