{% extends "manage/base.djhtml" %}{% load static %}{% load parse_tags %}

{% block title %}
Account Settings
{% endblock %}

{% block styles %}
<link href="/static/manage/css/account_edit.1.0.css" rel="stylesheet" />
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function() {
    $('#email-form div.form-options a').click(function(){
        if ($("#email-saving").css("display") == "none" && $("#password-saving").css("display") == "none"){
            $("#email-saving").show();
            $('#email-form').submit(); 
        }
        
        return false;
    });
    
    $('#password-form div.form-options a').click(function(){
        if ($("#email-saving").css("display") == "none" && $("#password-saving").css("display") == "none"){
            $("#password-saving").show();
            $('#password-form').submit(); 
        }
        
        return false;
    });
        
});
</script>
{% endblock %}

{% block content_frame %}

{% if error or success %}
<div class="notification {% if success %}success{% endif %} hide">
	<div>{{ error }}{{ success }}</div>
</div>
{% endif %}
	
<h2>Account Settings</h2><br/>
<div id="main-content" class="white-box">

<form id="email-form" method="POST" action="{% url 'account_edit' %}">{% csrf_token %}
    <input type="hidden" name="action" value="email" />
    
    <div class="input-container clearheight" id="email_ic">
	    {{ email_form.email.errors }}
	    <label for="id_email">Email</label>
	    {{ email_form.email }}
    </div>
    
    <div class="form-options">
	    <a class="button blue" >Save</a>
	    <img src="{% static 'manage/images/ajax-loader.gif' %}" id="email-saving"/>
	</div>
</form>

<div class="clear">&nbsp;</div>

<form id="password-form" method="POST" action="{% url 'account_edit' %}">{% csrf_token %}
    <input type="hidden" name="action" value="password" />
    
    <div class="input-container  clearheight" id="password_current_ic">
	    {{ password_form.current.errors }}
	    <label for="id_current">Current Password</label>
	    {{ password_form.current }}
    </div>
    <div class="input-container  clearheight" id="password_new_ic">
	    {{ password_form.new.errors }}
	    <label for="id_new">New Password</label>
	    {{ password_form.new }}
    </div>
    <div class="input-container  clearheight" id="password_confirm_new_ic">
	    {{ password_form.confirm_new.errors }}
	    <label for="id_confirm_new">Confirm New Password</label>
	    {{ password_form.confirm_new }}
    </div>
    
    <div class="form-options">
	    <a class="button blue" >Save</a>
	    <img src="{% static 'manage/images/ajax-loader.gif' %}" id="password-saving"/>
	</div>
</form>
    
</div>
{% endblock %}
