{% load static %}{% load parse_tags %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Repunch | Account</title>
	<link rel="shortcut icon" href="{% static 'public/images/favicon.png' %}" />
	    
    <link href='http{% if not request.session.dev_token %}s{% endif %}://fonts.googleapis.com/css?family=Cabin:400,600,700' rel='stylesheet' type='text/css' />
	
	<!-- include page specific css -->
	<link href="{% static 'manage/css/global.1.5.css' %}" rel="stylesheet" />
	<link href="{% static 'manage/css/account_edit.1.0.css' %}" rel="stylesheet" />
	<link href="{% static 'manage/css/jquery/jquery-ui-smoothness.min.css' %}"
	    rel="stylesheet" />
	
	<script src="{% static 'manage/js/jquery/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'manage/js/jquery/jquery-ui.min.js' %}"></script>
	<script src="{% static 'manage/js/global.js' %}"></script>
	<script src="{% static 'manage/js/comet.1.6.js' %}"></script>
	
</head>
<body>
{# NEEDED FOR comet.js #}
<input id="comet_url" type="hidden" value="{% url 'comet_pull' %}" />
<input id="comet_url_terminate" type="hidden" value="{% url 'comet_terminate' %}" />

	<div id="site-frame">
		<div id="header">
		
			<a id="header-left" href="{% url 'store_index' %}">
				<img src="{% static "manage/images/logo_header.png" %}" alt="Repunch" id="logo-header" />&nbsp;
			</a>
			
			<div id="header-right">
			    <a href="{% url 'store_index' %}">
					<span href="{% url 'store_index' %}" id="avatar-thumbnail-wrapper">
					    {% if request.session.has_store_avatar and request.session.store|get:'store_avatar' %}
						<img src="{{ request.session.store|get:'store_avatar_url' }}" alt="" class="avatar-small" id="avatar-thumbnail" />
					    {% endif %}
					</span>
				    <span id="account-name">
				        {% if request.session.employee %}
				        {{ request.session.employee.get_fullname }}
				        {% else %}
				        {{ request.session.store.get_owner_fullname }}
				        {% endif %}
				    </span>
				    <img src="{% static 'manage/images/arrow-down.png' %}" alt="options" style="vertical-align:middle;" />
		        </a>
				    
                <ul>
                    <a href="{% url 'account_edit' %}"><li>Account Settings</li></a>
                    <a href="{% url 'manage_logout' %}"><li>Logout</li></a>
                </ul>
			</div>
		</div>
		
		<div id="content-frame">
		<h2>Account Settings</h2><br/>
		<div id="main-content" class="white-box">
		
		<form id="email-form" method="POST" action="">{% csrf_token %}
		    <div class="input-container clearheight" id="email_ic">
			    {{ email_form.email.errors }}
			    <label for="id_email">Email</label>
			    {{ email_form.email }}
		    </div>
		    
		    <div class="form-options">
			    <a class="button blue" >Submit</a>
			    <img src="{% static 'manage/images/ajax-loader.gif' %}" id="email-saving"/>
			</div>
	    </form>
	    
		<div class="clear">&nbsp;</div>
		
		<form id="password-form" method="POST" action="">{% csrf_token %}
		    <div class="input-container  clearheight" id="password_current_ic">
			    {{ password_form.current.errors }}
			    <label for="id_current">Current Password</label>
			    {{ password_form.current }}
		    </div>
		    <div class="input-container  clearheight" id="password_new_ic">
			    {{ password_form.new.errors }}
			    <label for="id_new">New Password</label>
			    {{ password_form.new }}
		    </div>
		    <div class="input-container  clearheight" id="password_confirm_new_ic">
			    {{ password_form.confirm_new.errors }}
			    <label for="id_confirm_new">Confirm New Password</label>
			    {{ password_form.confirm_new }}
		    </div>
		    
		    <div class="form-options">
			    <a class="button blue" >Submit</a>
			    <img src="{% static 'manage/images/ajax-loader.gif' %}" id="password-saving"/>
			</div>
		</form>
		    
		</div><!-- close main-content -->
		<div class="clear">&nbsp;</div>
		</div><!-- close content-frame -->
		
	</div><!-- close site-frame -->
	
	<div id="footer">
		<img src="{% static "manage/images/logo_footer.png" %}" alt="Repunch" id="logo-footer" />
	</div>
	
</body>
</html>
