{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link href='http{% if not request.session.dev_token %}s{% endif %}://fonts.googleapis.com/css?family=Cabin:400,600,700' rel='stylesheet' type='text/css' />
	<link href="{% static 'manage/css/global.2.5.css' %}" rel="stylesheet" />
	<script src="{% static 'manage/js/jquery/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'manage/js/jquery/jquery-ui.min.js' %}"></script>
    <script type="text/javascript">
    function addToPixels(pixels, amount) {
        var num = new Number(pixels.replace("px",""));
        num += amount;
        return String(num) + "px";
    }
    
	$(document).ready(function(){
	    var cover = $("#view-cover-image");
	    var loading = $("#image-loading");
	    var options = $("#view-image-options");
	    
	    window.parent.resizeFrame({
            "width": "65px",
            "height": "66px",
        }); 
	    
	    cover.load(function() {
	        loading.css("display", "none");
	        options.css("display", "block");
	    
            window.parent.resizeFrame({
                "width": addToPixels(cover.css("width"), 34),
                "height": addToPixels(cover.css("height"), 70),
            });           
        });
        
	});
	</script>
</head>
<body style="background-image:none; background-color:white; padding:15px;" >
	<img src="{{ image_url }}" id="view-cover-image" style="display:block; max-width:800px; max-height: 800px;" />
	
    <img id="image-loading" src="{% static 'manage/images/ajax-loader.gif' %}" style="position:relative; top:5px;" />
		
	<div id="view-image-options" class="form-options" style="display:none;">
		<a onclick="window.parent.cancelImageUpload(); return false;" href="#" 
		    class="red" style="padding:0; margin:0;">Close</a>
	</div>
</body>
</html>
