{% extends "manage/notification.html" %}

{% block title %}
We have failed to charge you for your monthly membership with Repunch.
{% endblock %}

{% block content %}
<p>
Hey {{ store.get_owner_fullname }},
</p>
<p>
We have failed to charge you for your membership from {{ subscription.date_last_billed|date:"F d, Y" }} to {{ date_now|date:"F d, Y" }}
</p>

<p>
The credit card information you provided was either incorrect or it does not have enough funds.
{% if not account_disabled %}
Please update your credit card information by logging into your 
<a href="{{ MAIN_TRANSPORT_PROTOCOL }}://{{ ABSOLUTE_HOST }}{{STORE_INDEX}}">dashboard</a> and updating your account.
{% endif %}
</p>

<p>
{% if account_disabled %}
Your account has been disabled. Please contact us if you want to re-activate your account.
{% else %}
Your account will be disabled on {{ date_disable|date:"F d, Y" }} if you fail to pay your monthly membership.
{% endif %}
</p>

{% endblock %}
