{% extends "manage/notification.html" %}

{% block title %}
{% if asiss|length == 0 %}
No users have been charged their monthly bill today.
{% else %}
A total of {{ asiss|length }} users have been charged their monthly bill today.
{% endif %}
{% endblock %}

{% block title_compliment %}
<div style="border-top:2px solid #fff;border-bottom:6px solid #fff; background:#fff;color:#ccc;font-size:18px;">
{{ date }}
</div>
{% endblock %}

{% block content %}
{% if asiss|length > 0 %}

{# TABLE TOP #}
<div style="background-color:#eee;font-weight:bold;border:8px solid #eee;color:#545454;font-size:16px;">
Keep this for your records.
</div>
{# END TABLE TOP #}

{# LIST OF INVOICE #}
<table cellpadding="0" cellspacing="0" 
    style="width:100%;background-color:#eee;">

{% for asis in asiss %}

{# ONE INVOICE #}
<tr>
    
    {# DATE BOX #}
	<td style="width:32px;background-color:#eee;vertical-align:top;border-top:1px solid #fff;padding:8px 0 8px 8px;">
		<div style="border:1px solid #555;">
		    <div style="background-color:#555;text-transform:uppercase;color:#fff;font-weight:bold;text-align:center;font-size:9px;line-height:14px;padding:0 4px;">
                type</div>
			<div style="background-color:#fff;font-size:16px;font-weight:bold;text-align:center;padding:1px 4px 0 4px;">
                {% for key, val in sub_type.iteritems %}
                {% if key == asis.3.subscriptionType %}
                {{ val.name }}
                {% endif %}
                {% endfor %} 
            </div>
		</div>
    </td>
    {# END DATE BOX #}
    
    {# INNER TABLE #}
	<td style="vertical-align:top;padding:8px;border-top:1px solid #fff;">
		<table cellpadding="0" cellspacing="0" style="width:100%;">
			<tr>
				<td style="background-color:#eee;vertical-align:top;padding-right:20px;">

                    {# STORE NAME #}
                    <div style="padding:2px 0 4px 0;font-size:16px;line-height:16px;font-weight:bold;text-decoration:underline;">
                        {{ asis.1.store_name }} &nbsp;&nbsp;({{asis.1.objectId}})
					</div>
                    {# END STORE NAME #}

                    <div style="padding:8px;background:#fdfdd7;">
                    {% if not asis.2 %}
                    <div style="padding:2px 0 4px 0;font-size:12px;line-height:16px;">
	                    <span style="color:#545454;font-weight:bold;">Failed to charge.</span>
					</div>
                    {% else %}
                    {# TOTAL #}
                    <div style="padding:2px 0 4px 0;font-size:12px;line-height:16px;">
	                    <span style="color:#545454;font-weight:bold;">Total (USD):</span> ${{ asis.2.total }}
					</div>
                    {# END TOTAL #}

                    {# STATE #}
                    <div style="padding:2px 0 4px 0;font-size:12px;line-height:16px;">
	                    <span style="color:#545454;font-weight:bold;">State:</span> {{ asis.2.state }}
					</div>
                    {# END STATE #}
                    
                    {# PAYMENT ID #}
                    <div style="padding:2px 0 4px 0;font-size:12px;line-height:16px;">
	                    <span style="color:#545454;font-weight:bold;">Payment ID:</span> {{ asis.2.payment_id }}
					</div>
                    {# END PAYMENT ID #}

                    {# SALE ID #}
					<div style="padding:2px 0 4px 0;font-size:12px;line-height:16px;">
	                    <span style="color:#545454;font-weight:bold;">Sale ID:</span> {{ asis.2.sale_id }}
					</div>
                    {# END SALE ID #}
                    {% endif %}
                    </div>
                    
				</td>

            </tr>
        </table>
    </td>
    {# END INNER TABLE #}
    

</tr>
{# END ONE INVOICE #}

{% endfor %}

</table><br/>
{# END LIST OF INVOICE #}

{% endif %}
{% endblock %}
