{# Written by Vandolf Estrellado #}
{% comment %}
JUSTIFYING INLINE STYLES ----------------------
CSS style declarations in the head of an HTML document (using style tags) are ignored by some email clients, such as Gmail, so they should be avoided...

...The most reliable way to include CSS in an HTML email is to use inline styles. They aren't pretty, but few email clients ignore them.

{{ MAIN_TRANSPORT_PROTOCOL }}://www.htmlgoodies.com/beyond/css/article.php/3679231/How-to-Create-Great-HTML-Emails-with-CSS.htm
-----------------------------------------------
{% endcomment %}
{% load static %}

<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
</head>


{% comment %}
<!--IMPORTANT---------------------------
These styles are copied from emails from meetup.com
No theft intended.
----------------->
{% endcomment %}

<body style="margin: 0;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 14px;
      line-height: 20px;
      color: #333333;
      background-color: #ffffff;">

{# HEADER #}
<table cellpadding="0" cellspacing="0" style="width:100%;">
<tr>

    <td style="width:49%;padding:0;border-top:1px solid #ea8b13;"
        valign="top">
        <div style="height:40px;background:#ea8b13;">&nbsp;</div>
    </td>
    <td style="width:189px;padding:0;border-top:1px solid #ea8b13;">
        <a href="{{ MAIN_TRANSPORT_PROTOCOL }}://{{ ABSOLUTE_HOST }}">
        <img src="{{ MAIN_TRANSPORT_PROTOCOL }}://{{ ABSOLUTE_HOST }}{{ ICON_URL }}"
            width="189px" height="75px" alt="    Repunch Inc."
            style="background:#ea8b13;"/>
        </a>
    </td>
    <td style="width:49%;padding:0;border-top:1px solid #ea8b13;"
        valign="top">
        <div style="height:40px;background:#ea8b13;">&nbsp;</div>
    </td>

</tr>
</table>
{# END HEADER #}

{# CONTAINER same width as footer contents #}
<div style="clear:both;text-align:center;">
    <div style="width:94%;margin:0 auto;min-width:200px;max-width:650px;text-align:left;">

{# TITLE #}
<br /><br />
<div style="border-top:5px solid #fff;border-bottom:5px solid #fff;text-decoration:none;color:#ea8b13;font-size:28px;line-height:30px;font-weight:bold;">
{% block title %}
Thank you for signing up.
{% endblock %}
</div>
{% block title_compliment %}
<div style="border-top:2px solid #fff;border-bottom:6px solid #fff; background:#fff;color:#ccc;font-size:18px;">
Repunch Inc.
</div>
{% endblock %}
{# END TITLE #}


<div style="background-color:#eee;border-top:10px solid #fff;
            background:#fff;">
{% block content %}

<p style="">
Dear {{ store.get_owner_fullname }},
</p>

<p style="">
We will get in touch with you as soon as we can to help you get started. 
</p>

{% endblock %}
<div style="margin-bottom:30px;border-top:2px solid #fff;border-bottom:6px solid #fff; background:#fff;color:#ccc;font-size:18px;">- The Repunch Team</div>
</div>
</div>
</div>

{# FOOTER #}
<div style="background:#555;text-align:center;border:5px solid #555">
    <div style="clear:both;background:#555;text-align:center;border-top:solid 20px #555;border-bottom:solid 20px #555;">
        <div style="width:94%;margin:0 auto;border-left:solid 10px #555;border-right:solid 10px #555;min-width:200px;max-width:650px;text-align:left;font-family:arial;color:#ccc;font-size:11px;line-height:14px;">

            <p style="margin: 0 0 .25em;color:#ccc;">
            Add 
                <strong><a href="mailto:{{EMAIL_FROM}}"
                            style="color:#ccc;">
                {{EMAIL_FROM}}
                </a></strong> 
            to your address book to receive all our notifications.
            </p>

            <p style="margin: 0 0 .25em;color:#cccccc;">
            To manage your dashboard, 
               <a href="{{ MAIN_TRANSPORT_PROTOCOL }}://{{ ABSOLUTE_HOST }}{{STORE_INDEX}}"
                  style="color:#cccccc;">click here</a></p>

            <p style="margin: 0 0 .25em;color:#cccccc;"><a href="#" 
            style="color:#ccc;text-decoration:none;cursor:default;">
            Repunch Inc. is a company that aims to increase customer loyalty towards retailers.</a></p>

            <p style="margin: 0 0 .25em;color:#cccccc;">
                <strong>Visit our official site at&nbsp;&nbsp;
                </strong>
                <a href="{{ MAIN_TRANSPORT_PROTOCOL }}://{{ ABSOLUTE_HOST }}"
                    style="color:#cccccc;">
                Repunch.com</a>
            </p>

        </div>
    </div>
</div>
{# END FOOTER #}

</body>
</html>
