{% extends "manage/notification.html" %}

{% block title %}
Your subscription has been upgraded.
{% endblock %}

{% block content %}
<p style="">
Hey {{ store.get_owner_fullname }},
</p>

<p>
Your subscription has been upgraded from {{ package.sub_type }} to {{ package.new_sub_type }}.
</p>

<p>
<span style="color:#545454;font-weight:bold;">New maximum number of users:</span> {{ package.new_max_patronStore_count }}<br/>
<span style="color:#545454;font-weight:bold;">New Subscription type:</span> {{ package.new_sub_type }}<br/>
<span style="color:#545454;font-weight:bold;">New Monthly cost (USD):</span> ${{ package.new_sub_type_cost }}
</p>

{% endblock %}
