{% extends "manage/notification.html" %}

{% block title %}
You have been charged ${{ invoice.total }} for your membership with Repunch.
{% endblock %}

{% block content %}
<p style="">
Hey {{ store.get_owner_fullname }},
</p>
<p>
{# NOTE that date_30_ago and date_now isn't necessarily 30 days ago from when this was ran and now #}
We have charged you for your membership from {{ date_30_ago|date:"F d, Y" }} to {{ date_now|date:"F d, Y" }}
</p>

<p style="">
<span style="color:#545454;font-weight:bold;">Subscription Type:</span> 
{% for key, val in sub_type.iteritems %}
{% if key == subscription.subscriptionType %}
{{ val.name }}
{% endif %}
{% endfor %}<br/>
<span style="color:#545454;font-weight:bold;">Total (USD):</span> ${{ invoice.total }}<br/>
<span style="color:#545454;font-weight:bold;">Transaction ID:</span> {{ invoice.sale_id }}<br/>
</p>

{% endblock %}
