{% extends "manage/notification.html" %}

{% comment %}
{ 
    cls.__name__ : {
        cls.fields_required[1] : (cls.instance, ...), ...
    }, ...
} 
{% endcomment %}

{% block title %}
Parse Class Validation Results.
{% endblock %}

{% block title_compliment %}
<div style="border-top:2px solid #fff;border-bottom:6px solid #fff; background:#fff;color:#ccc;font-size:18px;">
{{ date }}
</div>
{% endblock %}

{% block content %}

{# CHUNK #}
{% for class_name, fields in abnormalities.iteritems %}

{# TABLE TOP #}
<div style="background-color:#eee;font-weight:bold;border:8px solid #eee;color:#545454;font-size:24px;">
{{ class_name }}
</div>

{# END TABLE TOP #}
<table cellpadding="0" cellspacing="0" 
    style="width:100%;background-color:#eee;display:none;">
    
{% for key, values in fields.iteritems %}
<tr>

    {# MINI RESULT BOX #}
	<td style="width:220px;background-color:#eee;vertical-align:top;border-top:1px solid #fff;padding:8px 0 8px 8px;">
		<div style="border:1px solid #555;">
			<div style="background-color:#fff;font-size:12px;font-weight:normal;text-align:center;padding:1px 4px 0 4px;">
			    <span style="color:red;">
			    {{ key }}
                </span>
            </div>
		</div>
    </td>
    {# END MINI RESULT BOX #}
    
    {# INNER TABLE #}
	<td style="vertical-align:top;padding:8px;border-top:1px solid #fff;line-height:120%;">
		<table cellpadding="0" cellspacing="0" style="width:100%;">
			<tr>
				<td style="background-color:#fdfdd7;vertical-align:top;padding-right:20px;">
                    {% for val in values %}
                    {{ val.objectId }},&nbsp;
                    {% endfor %}
				</td>

            </tr>
        </table>
    </td>
    {# END INNER TABLE #}
    
</tr>
{% empty %}
<tr>
    {# MINI RESULT BOX #}
	<td style="background-color:#eee;vertical-align:top;border-top:1px solid #fff;padding:8px 0 8px 8px;">
		<div style="border:2px solid #555;">
			<div style="background-color:green;font-size:16px;font-weight:bold;text-align:center;padding:1px 4px 0 4px;">
			    <span style="color:white;">
			    CLEAN
                </span>
            </div>
		</div>
    </td>
    {# END MINI RESULT BOX #}
</tr>
{% endfor %}

</table><br/>

{% endfor %}
{# END CHUNK #}

{% endblock %}
