{% extends "manage/notification.html" %}
{% load parse_tags %}

{% block title %}
{% if for_customer %}
Thank you for your purchase of {{ amount }} smartphone{% if amount > 1 %}s{% endif %}.
{% else %}
Purchase made by 
{{ store.first_name|capfirst }} {{ store.last_name|capfirst }},
{% endif %}
{% endblock %}

{% block content %}
{% if for_customer %}
<p style="">
Hey {{ store.get_owner_fullname }},
</p>
<p>
Here is your receipt for your recent purchase of smartphones.
</p>
{% endif %}

<p style="">
<strong>Merchandise:</strong> smartphone{% if amount > 1 %}s{% endif %}<br/>
<strong>Quantity:</strong> {{ amount }}<br/>
<strong>Total (USD):</strong> ${{ invoice.total }}<br/><br/>

{% if invoice.sale_id and for_customer %}
<strong>Transaction ID:</strong> {{ invoice.sale_id }}<br/>
{% endif %}
</p>
{% if not for_customer %}
<strong>ACCOUNT INFO</strong>
<ul>
    <li><strong>Business name:</strong>
    {{ store|get:"store_name" }}
    </li>
    <li><strong>Owner name:</strong>
    {{ store|get:"first_name"|capfirst }}
    {{ store|get:"last_name"|capfirst }}
    </li>
    <li><strong>Store ID:</strong>
    {{ store.objectId }}
    </li>
    <li><strong>Username:</strong>
    {{ account|get:"username" }}
    </li>
    <li><strong>Email:</strong>
    {{ account|get:"email" }}
    </li>
    <li><strong>Phone number:</strong>
    {{ store|get:"phone_number" }}
    </li>
    <li><strong>Subscription Type:</strong>
    {{ sub_type }}
    </li>
</ul>
<strong>PAYPAL INVOICE</strong>
{{ invoice.as_ul|safe }}
<br/>
{% endif %}

{% endblock %}
