{% extends "manage/notification.html" %}

{% block title %}
Your store, {{ store.store_name }}, has passed the user limit of your current subscription.
{% endblock %}

{% block content %}
<p style="">
Hey {{ store.get_owner_fullname }},
</p>

{% if package.status == 'upgraded' %}

<p>
We have upgraded your subscription from {{ package.sub_type }} to {{ package.new_sub_type }}.
</p>

<p>
<span style="color:#545454;font-weight:bold;">Current Number of users:</span> {{ package.patronStore_count }}<br/>
<span style="color:#545454;font-weight:bold;">New maximum number of users:</span> {{ package.new_max_patronStore_count }}<br/>
<span style="color:#545454;font-weight:bold;">New Subscription type:</span> {{ package.new_sub_type }}<br/>
<span style="color:#545454;font-weight:bold;">New Monthly cost (USD):</span> ${{ package.new_sub_type_cost }}
</p>

{% elif package.status == 'disabled' %}

<p>
Your store, {{ store.store_name }}, has been disabled.<br/>
Please contact us at <a href="mailto:{{EMAIL_FROM}}">{{EMAIL_FROM}}</a> to enable your store.
</p>

{% else %}
<p>
Please upgrade your subscription or your subscription will be disabled on {{ package.disable_date }}
</p>

<p>
You may upgrade your subscription by logging into your <a href="http://{{ABSOLUTE_HOST}}{{STORE_INDEX}}">dashboard</a> and
updating your subscription.
</p>

<p>
<span style="color:#545454;font-weight:bold;">Current Number of users:</span> {{ package.patronStore_count }}<br/>
<span style="color:#545454;font-weight:bold;">Maximum number of users:</span> {{ package.max_patronStore_count }}<br/>
<span style="color:#545454;font-weight:bold;">Subscription type:</span> {{ package.sub_type }}
</p>
{% endif %}

{% endblock %}
