{% load static %}<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Repunch | Password Reset</title>
	
    <link href='http{% if not request.session.dev_token %}s{% endif %}://fonts.googleapis.com/css?family=Cabin:400,600,700' 
        rel='stylesheet' type='text/css'>
        
	<!-- include page specific css -->
	<link href="{% static "manage/css/global.1.5.css" %}" rel="stylesheet" />
	
</head>
<body>

    <div style="width:960px;margin:auto auto;text-align:center;position:relative;top:10px;">
        <h1 style="color:#0a71c1; font-family: 'Cabin', sans-serif;">Successfully updated your password</h1>
        
	    <div id="footer">
		    <img src="{% static "manage/images/logo_footer.png" %}" alt="Repunch" id="logo-footer" />
	    </div>
    </div>

</body>
</html>
