{% extends "manage/base.djhtml" %}
{% load static %}{% load store_tags %}{% load util_tags %}{% load account_tags %}

{# NOTE only accounts with full admin access may access this page!!! #}

{% block title %}Edit Store Details{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static "manage/css/image_upload.css" %}" />
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'manage/js/store_edit.1.0.js' %}" ></script>
<script type="text/javascript" src="{% static 'manage/js/image_upload.1.6.js' %}" ></script>
{% endblock %}

{% block content %}
    {% with store=request.session.store %}

    {# REQUIRED FOR IMAGE UPLOAD JS #}
    <input type="hidden" id="get_image_url" value="{% url 'store_image_get' %}" />
    <input type="hidden" id="get_image_id" value="store_thumbnail" />
	
	<form action="{% url 'store_edit' %}" method="POST" id="store-edit-form">{% csrf_token %}
	
		<div id="photo-edit">
			<div class="white-box">
	            {% if store.thumbnail_image_url and store.cover_image_url %}
                <a href="{% url 'store_image_view_cover' %}" class="upload-image">
                    <img src="{{ store.thumbnail_image_url }}" alt="" class="image-big" width="200px" height="200px" id="store_thumbnail"/>
                </a>
	            {% else %}
                <a href="{% url 'store_image_upload' %}" class="upload-image">
	                <img src="{% static 'manage/images/store_thumbnail_placeholder.1.2.png' %}" alt="" id="store_thumbnail"
	                    class="image-big" width="200px" height="200px"/>
                </a>
                {% endif %}
			</div>
			<a href="{% url 'store_image_upload' %}" class="upload-image">Add/Change Photo</a>
		</div>
	
		
		<h2>Edit Store Details</h2>	
		{{ store_form.non_field_errors }}
		
		<div class="input-container store_name-container">
			<div id="store_name_e">{{ store_form.store_name.errors }}</div>
			<label for="id_store_name">Store Name</label>
			{{ store_form.store_name }}
		</div>
		
		<div class="input-container store_description-container">
			<div id="store_description_e">{{ store_form.store_description.errors }}</div>
			<label for="id_store_description">Description</label>
			{{ store_form.store_description }}
		</div>
		
	</form>
		
	<div id="edit-store-options" class="form-options">
		<a class="button blue">Save Changes</a>
		<a href="{% url 'store_index' %}" class="red">Cancel</a>
	    <img src="{% static 'manage/images/ajax-loader.gif' %}" />
	</div>
	
{% endwith %}
{% endblock %}
